<div class="container">
  <h1>Thêm mới dịch vụ</h1>
  <form action="/facility/add" method="post">
    <fieldset>
      <legend style="margin-top: 15px; margin-bottom: 15px">Thông tin dịch vụ</legend>
      <table class="form-control-lg table table-success table-striped">
        <tr>
          <td>
            <select class="form-select-lg text-center" style="width: 100%"  onchange="showServiceInput(this.value)">
              <option ></option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Tên dịch vụ:</label>
            <input class="form-control" type="text" size="45">
            <div class="text-danger"></div>
          </td>
        </tr>
        <tr>
          <td><label>Diện tích sử dụng:</label>
            <input class="form-control" type="text" size="45">
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td><label>Chi phí thuê:</label>
            <input class="form-control" type="text" size="15">
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td><label>Số lượng người tối đa:</label>
            <input class="form-control" type="text"  size="15" >
          </td>
        </tr>
        <tr>
          <td><label>Kiểu thuê:</label>
            <select style="width: 100%" class="form-select-lg text-center">
              <option></option>
            </select>
          </td>
        </tr>

        <tr id="s1" style="display: none">
          <td><label>Tiêu chuẩn phòng:</label>
            <input class="form-control" type="text"  size="15">
            <div class="text-danger"></div>
          </td>
        </tr>

        <tr id="s2" style="display: none">
          <td><label>Mô tả tiện nghi khác:</label>
            <input class="form-control" type="text" size="15">
            <div class="text-danger" ></div>
          </td>
        </tr>

        <tr id="s3" style="display: none">
          <td><label>Diện tích hồ bơi:</label>
            <input class="form-control" type="text"  size="15" value="0">
            <div class="text-danger" ></div>
          </td>
        </tr>

        <tr id="s4" style="display: none">
          <td><label>Số tầng:</label>
            <input class="form-control" type="text" size="15" value="0">
            <div class="text-danger"></div>
          </td>
        </tr>

        <tr id="s5" style="display: none">
          <td><label>Dịch vụ miễn phí đi kèm:</label>
            <input class="form-control" type="text" size="15">
            <div class="text-danger"></div>
          </td>
        </tr>

        <tr>
          <td colspan="2" align="center">
            <input class="form-control btn-success" style="width: 300px" type="submit" value="Thêm mới dịch vụ"/>
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>
<!--<script>-->
<!--  function showServiceInput(value) {-->
<!--    switch (value) {-->
<!--      case "None":-->
<!--        document.getElementById("s1").style.display = "none";-->
<!--        document.getElementById("s2").style.display = "none";-->
<!--        document.getElementById("s3").style.display = "none";-->
<!--        document.getElementById("s4").style.display = "none";-->
<!--        document.getElementById("s5").style.display = "none";-->
<!--        break;-->
<!--      case "1":-->
<!--        document.getElementById("s1").style.display = "table-row";-->
<!--        document.getElementById("s2").style.display = "table-row";-->
<!--        document.getElementById("s3").style.display = "table-row";-->
<!--        document.getElementById("s4").style.display = "table-row";-->
<!--        document.getElementById("s5").style.display = "none";-->
<!--        break;-->
<!--      case "2":-->
<!--        document.getElementById("s1").style.display = "table-row";-->
<!--        document.getElementById("s2").style.display = "table-row";-->
<!--        document.getElementById("s3").style.display = "none";-->
<!--        document.getElementById("s4").style.display = "table-row";-->
<!--        document.getElementById("s5").style.display = "none";-->
<!--        break;-->
<!--      case "3":-->
<!--        document.getElementById("s1").style.display = "none";-->
<!--        document.getElementById("s2").style.display = "none";-->
<!--        document.getElementById("s3").style.display = "none";-->
<!--        document.getElementById("s4").style.display = "none";-->
<!--        document.getElementById("s5").style.display = "table-row";-->
<!--        break;-->
<!--    }-->
<!--  }-->
<!--</script>-->

