<div class="container">
  <form action="/customer/add" method="post">
    <h1>Thêm mới khách hàng</h1>
    <fieldset>
      <legend style="margin-top: 15px; margin-bottom: 15px">Thông tin khách hàng</legend>
      <table class="form-control-lg table table-success table-striped">
        <tr>
          <td>
            <span>Loại khách:</span>
            <div class="form-control" size="45px">
              <select  formControlName="customerType" style="width: 100%" class="form-select-lg text-center">
                <option *ngFor="let customerTypeObj of customerTypes" ngValue="customerTypeObj">{{customerTypeObj.name}}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Họ tên:</span>
            <input class="form-control" type="text"  size="45px">
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Ngày sinh:</span>
            <input type="date"  size="45px" class="text-center form-control" >
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Giới tính:</span>
            <select  style="width: 100%" class="form-select-lg text-center">
              <option >Nam</option>
              <option >Nữ</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <span>Số CMND:</span>
            <input type="text" size="45px" class="form-control" >
            <div class="text-danger"></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Số điện thoại:</span>
            <input type="text" size="45px" class="form-control" >
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>

          <td>
            <span>Email:</span>
            <input type="text" size="45px" class="form-control" >
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>

          <td>
            <span>Địa chỉ:</span>
            <input size="45px" class="form-control" >
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="d-flex justify-content-center">
            <input class="form-control btn-success text-center" style="width: 300px" type="submit"
                   value="Thêm mới khách hàng">
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>

