<div class="container">
  <form [formGroup]="customerForm" (ngSubmit)="submit()">
    <h1>Thêm mới khách hàng</h1>
    <fieldset>
      <legend style="margin-top: 15px; margin-bottom: 15px">Thông tin khách hàng</legend>
      <table class="form-control-lg table">
        <tr>
          <td>
            <span>Loại khách:</span>
            <div class="form-control" size="45px">
              <select formControlName="customerType" style="width: 100%" class="form-select-lg text-center">
                <option *ngFor="let customerTypeObj of customerTypes"
                        [ngValue]="customerTypeObj">{{customerTypeObj.name}}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Họ tên:</span>
            <input class="form-control" formControlName="name" type="text" size="45px">
          </td>
        </tr>
        <tr>
          <td>
            <span>Ngày sinh:</span>
            <input type="date" formControlName="dateOfBirth" size="45px" class="text-center form-control">
          </td>
        </tr>
        <tr>
          <td>
            <span>Giới tính:</span>
            <div class="form-control" size="45px">
              <select style="width: 100%" formControlName="gender" class="form-select-lg text-center">
                <option [ngValue]="true">Nam</option>
                <option [ngValue]="false">Nữ</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Số CMND:</span>
            <input type="text" formControlName="idCard" size="45px" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <span>Số điện thoại:</span>
            <input formControlName="phoneNumber" type="text" size="45px" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <span>Email:</span>
            <input formControlName="email" type="text" size="45px" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <span>Địa chỉ:</span>
            <input formControlName="address" size="45px" class="form-control">
          </td>
        </tr>
      </table>
      <div class="d-flex justify-content-center">
        <button class="form-control btn-success text-center " style="width: 300px" type="submit">Thêm mới khách hàng
        </button>
      </div>
    </fieldset>
  </form>
</div>


