<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      <h1>Danh sách khách hàng</h1>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
      <form class="d-flex" >
        <input class="form-control me-2" name="keyword" type="search" placeholder="Name" aria-label="Search"
               #name>
        <input class="form-control me-2" name="keyword" type="search" placeholder="Email" aria-label="Search"
               #email>
        <button (click)="search(name.value,email.value)" class="btn btn-outline-success ">Search</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-success table-striped table-bordered" id="tableCustomer">
        <thead>
        <tr>
          <th>STT</th>
          <th>Loại khách</th>
          <th>Họ tên</th>
          <th>Ngày sinh</th>
          <th>Giới tính</th>
          <th>Số CMND</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Địa chỉ</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers | paginate: {id: 'pages',
        itemsPerPage:5,
        currentPage:page,
        totalItems: totalRecords}; index as i">
          <td>{{i + 1}}</td>
          <td>{{customer.customerType.name}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.dateOfBirth}}</td>
          <td *ngIf="customer.gender">
            Nam
          </td>
          <td *ngIf="!customer.gender">
            Nữ
          </td>
          <td>{{customer.idCard}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.address}}</td>
          <td>
            <button [routerLink]="['/customers/update/',customer.id]" class="btn btn-warning me-3">Sửa</button>
            <button (click)="delete(customer.id, customer.name)" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    class="btn btn-danger me-3">Xóa
            </button>
            <button class="btn btn-primary me-3" data-bs-toggle="modal" (click)="detail(customer)"
                    data-bs-target="#exampleModal">Chi tiết
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls id="pages" maxSize="5" directionLinks="true"
                             (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Thông báo !!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>Bạn có muốn xóa <span class="text-danger">{{nameDelete}}</span>???</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button (click)="deleteModal(id)" data-bs-dismiss="modal" type="button" class="btn btn-danger">
          Xóa
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal detail-->
<div *ngIf="customer1" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">Thông tin chi tiết khách hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Loại khách hàng: {{customer1.customerType.name}}</h6>
        <h6>Tên khách hàng: {{customer1.name}}</h6>
        <h6>Ngày sinh: {{customer1.dateOfBirth}}</h6>
        <h6 *ngIf="customer1.gender">Giới tính: Nam</h6>
        <h6 *ngIf="!customer1.gender">Giới tính: Nữ</h6>
        <h6>CMND: {{customer1.idCard}}</h6>
        <h6>Số điện thoại: {{customer1.phoneNumber}}</h6>
        <h6>Email: {{customer1.email}}</h6>
        <h6>Địa chỉ: {{customer1.address}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
