.css1{
  margin:50px auto;
  width: 400px;
}

.css1 p{
  color: #a2a2a2;
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 400;
}
.css1 h1{
  color: #0c3e72;
  font-family: "Open Sans", sans-serif;
}
