<div class="container-fluid">
  <form action="/customer/update" method="post" >
    <h1>Sửa thông tin khách hàng</h1>
    <fieldset>
      <legend style="margin-top: 15px; margin-bottom: 15px">Thông tin khách hàng</legend>
      <table class="form-control-lg table table-success table-striped">
        <tr>
          <td>
            <span>Mã khách hàng:</span>
            <input class="form-control" type="text" readonly>
          </td>
        </tr>
        <tr>
          <td>
            <label>Loại khách:</label>
            <div class="form-control" size="45px">
              <select style="width: 100%" class="form-select-lg text-center">
                <option></option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Họ tên:</span>
            <input  class="form-control" type="text">
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Ngày sinh:</span>
            <input  class="form-control" type="text" >
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td>
            <label>Giới tính:</label>
            <select style="width: 100%" class="form-select-lg text-center">
              <option >Nam</option>
              <option >Nữ</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <span>Số CMND:</span>
            <input  class="form-control" type="text" >
            <div class="text-danger"></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Số điện thoại:</span>
            <input  class="form-control" type="text" >
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Email:</span>
            <input  class="form-control" type="text" >
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>Địa chỉ:</span>
            <input  class="form-control" type="text" >
            <div class="text-danger" ></div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="d-flex justify-content-center">
            <input class="form-control btn-success text-center" style="width: 300px" type="submit"
                   value="Sửa thông tin khách hàng">
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>

